*~
/*/.terraform
/*/*.tfstate
/*/*.tfstate.backup
*.backup
tfstate

.idea
.DS_Store
workspace
override.tf
override.tf.json

.terraformer
.terraformerenv
.terraform
*migration.hcl
*.tfstate

*.puml
terraform.tfstate

vendor/bundle
